+b.HEADER.header
  +b.top-line
    +e.interface-title
      +b.interface-title
        +e.text Calendar
    +e.nav
      +b.NAV.interface-nav
        +e.UL.list
          +e.LI.item
            +b.btn
              +e.text Home
          +e.LI.item
            +b.btn
              +e.text About
          +e.LI.item
            +b.btn_active
              +e.text Calendar